body {
	background-color: #e6e6e6
}

.page-container { .page-bg { padding:15px;
	background-color: #EFEFEF;
}

}
.tbody {
	height: 400px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: auto;
	position: absolute;
}

tr {
	width: 100%;
}

.comparison-separator {
	border-bottom: 1px solid black;
}

.twoRowButton {
	vertical-align: middle !important;
}

.padding {
	margin: 15px;
}

.top {
	margin-top: 15px;
}

.centered-text {
	text-align: center
}

input {
	width: 40px;
}

.loader {
	position: fixed;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
	z-index: 9999;
	background: 100% 100% no-repeat rgba(249, 249, 249, 0);
}

.datacell {
	padding-right: 0.5em;
	padding-left: 0.5em;
	text-align: right;
}