tr {
width: 100%;
}

.page-container {
  .page-bg {
    padding: 15px;
    background-color: #EFEFEF;
  }
}

body {
  background-color: #e6e6e6
}
.padding{
    margin:15px;
}
.top{
    margin-top:15px;
}
.centered-text {
    text-align:center
}

.tbody{
height: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: auto;
position: absolute;
}
.2rowButton{
    vertical-align: middle!important;
}
